mixin text-field({label=none, id, theme=none})
  -
    let inputMod = ''
    if(theme != none) {
      inputMod = getMods(theme, 'text-field__input')
    }

  div.text-field
    if label != none
      label.text-field__label(for= id)= label
    block
    input.text-field__input(class=inputMod, id= id)&attributes(attributes)