include ./../../utils/getMods.pug
include ../logo/logo.pug

mixin page({ theme = none })
  -
    let mod = ''
    if(theme != none) {
      mod = getMods(theme, 'page')
    }
    
  div(class= 'page' + mod)
    if(theme=="uikit" || theme.includes("uikit"))
      div.page__logo
        +logo({ theme:"small" })
    //- div.page__container
    block


mixin page__column
  div(class= 'page__column')
    block