.page {
  position: relative;
  width: 1440px;
  height: 900px;

  &--uikit-colors {
    padding: 145px 158px 145px 150px;
    
    display: flex;
    justify-content: space-between;
  }
}

// .page--uikit .page__container {
//   width: 1160px;
//   margin: 145px auto;
// }

// .page--uikit-colors .page__container {
//   display: flex;
//   justify-content: space-between;
//   width: 1132px;
// }

.page__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.page--uikit-colors .page__column {
  width: 436px;
}