include ../logo/logo.pug
include ../c-text-field/c-text-field.pug
include ../c-dropdown/c-dropdown.pug

include ../../consts.pug

mixin ui-forms
  .ui-forms
    .ui-forms__logo
      +logo({ theme:"small" })
    .ui-forms__elements
      .ui-forms__col
        .ui-forms__text-field
          +c-text-field({ label:"Text field", id:"ui-text-field", content:"email" })
            span.c-text-field__ui-caption Default
        
        .ui-forms__text-field
          +c-text-field({ label:"Text field", id:"ui-text-field-hover", theme:"hover", content:"email" })
            span.c-text-field__ui-caption Hover / Focus

        .ui-forms__dropdown
          +c-dropdown({ theme: "guests", label: "Dropdown", isOpen: false })

          
        .ui-forms__text-field
          +c-text-field({ label:"Masked text field", id:"ui-masked-text-field", type:"masked" })

        //- .ui-forms__date-dropdowns
        //-   .ui-forms__date-dropdown
        //-     +c-dropdown({ theme: "date", label: "Date dropdown", value: DATE_DROPDOWN_FILLED })
            
        //-   .ui-forms__date-dropdown
        //-     +c-dropdown({ theme: "date", label: "Date dropdown" })
          

    .ui-forms__dropdowns
    .ui-forms__checkbox-lists
    .ui-forms__other