include ../logo/logo.pug
include ../c-text-field/c-text-field.pug
include ../c-dropdown/c-dropdown.pug

include ../../mocks.pug

mixin ui-forms
  .ui-forms
    .ui-forms__logo
      +logo({ theme:"small" })
    .ui-forms__col
      .ui-forms__text-field
        +c-text-field({ label:"Text field", id:"ui-text-field" })(type="email", placeholder="Email", name="email-input")
          span.c-text-field__ui-caption Default
      
      .ui-forms__text-field
        +c-text-field({ label:"Text field", id:"ui-text-field-hover", theme:"hover" })(type="email", name="email-input", value="This is pretty awesome")
          span.c-text-field__ui-caption Hover / Focus

      .ui-forms__dropdown
        +c-dropdown({ theme: "guests", label: "Dropdown", value: DROPDOWN_GUESTS_FILLED, isOpen: true })
        
        +c-dropdown({ theme: "facilities", label: "Dropdown", value: DROPDOWN_FACILITIES_DEFAULT, isOpen: true })
    .ui-forms__col
    .ui-forms__col
    .ui-forms__bottom