-
  UI_COLORS = [
    {
      title: 'Dark Shade 100%',
      colorText: '#1F2041',
      color: 'dark-shade-100'
    },
    {
      title: 'Dark Shade 75%',
      colorText: '#1F2041',
      color: 'dark-shade-75'
    },
    {
      title: 'Dark Shade 50%',
      colorText: '#1F2041',
      color: 'dark-shade-50'
    },
    {
      title: 'Dark Shade 25%',
      colorText: '#1F2041',
      color: 'dark-shade-25'
    },
    {
      title: 'Dark Shade 5%',
      colorText: '#1F2041',
      color: 'dark-shade-5'
    },
    {
      title: 'Purple',
      colorText: '#BC9CFF',
      color: 'purple'
    },
    {
      title: 'Green',
      colorText: '#6FCF97',
      color: 'green'
    },
  ]

  DROPDOWN_GUESTS_DEFAULT = {
    title: "Сколько гостей",
    items: [
      {
        name: 'Взрослые',
        value: 0
      },
      {
        name: 'Дети',
        value: 0
      },
      {
        name: 'Младенцы',
        value: 0
      }
    ]
  }

  DROPDOWN_GUESTS_FILLED = {
    title: "3 гостя",
    items: [
      {
        name: 'Взрослые',
        value: 2
      },
      {
        name: 'Дети',
        value: 1
      },
      {
        name: 'Младенцы',
        value: 0
      }
    ]
  }

  DROPDOWN_FACILITIES_DEFAULT = {
    title: "2 спальни, 2 кровати...",
    items: [
      {
        name: 'Спальни',
        value: 2
      },
      {
        name: 'Кровати',
        value: 2
      },
      {
        name: 'Ванные комнаты',
        value: 2
      }
    ]
  }

  DATE_DROPDOWN_DEFAULT = {
    title: 'ДД.ММ.ГГГГ'
  };
  DATE_DROPDOWN_FILLED = {
    title: '19.08.2019'
  };

  FILTER_DATE_DROPDOWN_FILLED = {
    title: '19 авг - 23 авг'
  };

  CHECKBOX_HOUSE_RULES = [
    {
      name: 'smoking',
      title: 'Можно курить',
      isChecked: false
    },
    {
      name: 'pets',
      title: 'Можно с питомцами',
      isChecked: true
    },
    {
      name: 'guests',
      title: 'Можно пригласить гостей (до 10 человек)',
      isChecked: true
    },
  ];

  CHECKBOX_AVAILABILITY = [
    {
      name: 'wide hall',
      title: 'Широкий коридор',
      subtitle: 'Ширина коридоров в номере не менее 91 см.',
      isChecked: false
    },
    {
      name: 'disabled assistant',
      title: 'Помощник для инвалидов',
      subtitle: 'На 1 этаже вас встретит специалист  и проводит до номера.',
      isChecked: false
    },
  ];

  CHECKBOX_ADDITIONAL_FACILITIES = [
    {
      name: 'breakfast',
      title: 'Завтрак',
      isChecked: false
    },
    {
      name: 'desk',
      title: 'Письменный стол',
      isChecked: true
    },
    {
      name: 'feeding chair',
      title: 'Стул для кормления',
      isChecked: true
    },
    {
      name: 'crib',
      title: 'Кроватка',
      isChecked: true
    },
    {
      name: 'tv',
      title: 'Телевизор',
      isChecked: false
    },
    {
      name: 'shampoo',
      title: 'Шампунь',
      isChecked: false
    }
  ];

  RADIO_GENDER = {
    items: [
      {
        name: 'male',
        title: 'Мужчина'
      },
      {
        name: 'female',
        title: 'Женщина'
      }
    ],
    checked: 'male'
  };