include ./utils/getMods.pug
include ./utils/getHumanityDate.pug

include ./blocks/ui-colors-type/ui-colors-type.pug
include ./blocks/color-samples/color-samples.pug
include ./blocks/text-samples/text-samples.pug
include ./blocks/ui-forms/ui-forms.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "UI kit"
  body
    h1.visually-hidden UIkit page
    +ui-colors-type
    hr
    +ui-forms

  script(src="blocks/c-dropdown/c-dropdown.js")
  script(src="blocks/c-text-field/c-text-field.js")
  script(src="blocks/c-checkbox-button/c-checkbox-button.js")