include ./mocks.pug

include ./blocks/text-field/text-field.pug
include ./blocks/page/page.pug
include ./blocks/color-samples/color-samples.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "UI kit"
  body
    h1.visually-hidden UIkit page
    +page({ theme: ["uikit", "uikit-colors"] })
      +page__column
        +color-samples({ colors: COLOR_SAMPLES })
      +page__column

    +text-field({ label:"Text field", id:"kit-text-field" })(type="email", placeholder="Email", name="email-input")