.c-text-field {
  position: relative;
  max-width: 320px;
}

.c-text-field__label {
  @include h3;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.c-text-field__ui-caption {
  @include text-light;
  position: absolute;
  top: 0px;
  right: 0px;
  text-transform: uppercase;
}

.c-text-field__input,
.c-text-field__masked-input {
  @include text;
  width: 100%;
  padding: 9px 15px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;

  &::placeholder {
    @include placeholder;
  }

  &--hover,
  &--focus,
  &:hover,
  &:focus {
    border-color: $dark-shade-50;
  }
}