.color-samples__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.color-samples__spot {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  border-radius: 6px;

  &--dark-shade-100 {
    background-color: $dark-shade-100;
  }

  &--dark-shade-50 {
    background-color: $dark-shade-50;
  }

  &--dark-shade-75 {
    background-color: $dark-shade-75;
  }

  &--dark-shade-25 {
    background-color: $dark-shade-25;
  }

  &--dark-shade-5 {
    background-color: $dark-shade-5;
  }

  &--purple {
    background-color: $purple;
  }

  &--green {
    background-color: $green;
  }
}

.color-samples__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-samples__title {
  @include h2;
}

.color-samples__text {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: $dark-shade-100;
}